# Environments
.env
env/
venv/
ENV/

# Python cache & build files
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Vector Databases (Local)
chroma_db/
qdrant_db/

# Large PDF Files (since they are stored in the cloud vector DB now)
*.pdf

# Editor & System Files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
.DS_Store
Thumbs.db
